@media screen and (max-width:900px){
    .title{
        font-size: 25px;
    }
    .little{
        font-size: 13px;
    
    }
    .width-small{
    width:280px;
    
    }
    .little_checkbox {
        width:73% !important
    }
    
    }